spring:
  thymeleaf:
    cache: false
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/utils}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      initialization-fail-timeout: -1

logging:
  config: classpath:logback-local.xml
